<% if (alerts.error) { %> 
  <% alerts.error.forEach(msg => { %> 
    <div style="background-color: red; color: white">
      <%= message %>
    </div>
  <% }) %>
<%  } else if (alerts.success) { %> 
  <% alerts.success.forEach(msg => { %> 
    <div style="background-color: green; color: white">
      <%= message %>
    </div>
  <% }) %>
<% } %>